/* ------------------------------ IMPORT FONT FAMILY ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Poppins:wght@500;700&display=swap');

/* ------------------------------  FONT STYLE ------------------------------ */
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 13vh;
}



/* ------------------------------ APPLY STYLE FOR [TOP-SECTION] ------------------------------ */
.top-section {
    width: 90%;
    border-radius: 30px;
    background-color: #161616;
    display: flex;
    margin-left: 5vw;
}

.top-section {}


.informations {
    color: #FFFFFF;
    padding-left: 5vw;
    padding-top: 3vh;
    width: 40%;
}

.top-title {
    font-weight: 700;
    font-size: 2rem;
}

.top-paragraph {
    font-weight: 400;
    font-size: 1rem;
    padding-top: 2vh;
}

.top-button {
    text-decoration: none;

}

.top-button div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: orangered;
}

.top-button div h3 {
    margin-right: 10px;

}

.banner-image-1 img {
    width: 100%;
    position: relative;
    top: 0.8vh;
}

/* ===========================EXTRA================================= */
.only-for-tab-mood {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.only-for-tab-mood-parent {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.only-for-tab-mood-item {
    width: 230px;
    height: 64px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.only-for-tab-mood-heading {}

/* ================================================== WEBSITE ONE PAGE STYLES =================================================== */


.blogs {
    display: flex;
    margin-top: 15vh;
    margin-left: 5vw;
}

.teams {
    margin-left: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.main-box {
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.ancor-style {
    text-decoration: none;
    color: black;
}

.box-item:hover {
    background-color: aqua;
}

.box-item {
    width: 252px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.box-item a {
    text-decoration: none;
    color: black;
}

.team {
    height: 362px;
    width: 312px;
    box-shadow: 1px 1px grey;
    border-radius: 10px;
}

.choose-button {
    padding: 20px;
}

.about-team {
    padding: 0 20px;
}

.time-feedback {
    padding: 20px;
    display: flex;
}

.time-icon,
.comment-icon {
    display: flex;
    align-items: center;
    margin: 10px;
}

.time-icon p {
    padding: 8px;
}

.comment-icon p {
    padding: 8px;
}



/* =========================================== WEBSITE PAGE TWO STYLES =================================================== */
.mid-container {
    display: flex;
    margin-top: 20vh;
    margin-left: 5vw;
}

.playing-teams {
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
}

.single-team {
    width: 312px;
    height: 242px;
    border: 1px solid black;
    border-radius: 10px;
}

.team-flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
}

.flag-vs h1 {
    font-size: 20px;
}

.team-names,
.play-time {
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------- BUTTON ONLY FOR TAB MOOD -------------------------------------- */
.optional-button {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.optional-button-text {
    font-size: 30px;
    font-weight: 700;
    padding: 8px 15px;
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    border: none;
}

/* ---------------------------------------- FOOTER STYLE ADDED ------------------------------------- */
footer {
    margin-top: 10vh;
    background-color: #161616;
    width: 100%;
}

.goal {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.footer-heading {
    color: #FFFFFF;
    font-weight: 600;
}

hr {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 1em 3em;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.social-media {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 3vh;
}

.social-media a {
    font-size: 40px;
    margin: 0 50px;
}



.only-for-tab-mood {
    visibility: hidden;
}


/* ================================== MEDIA QUERY FOR TABLET ======================================= */

@media only screen and (min-width: 768px) and (max-width : 1023px) {

    /* ---------------------PAGE ONE ------------------------- */
    .top-title h1 {
        font-size: 3vw;
    }

    .top-paragraph {
        font-size: 1vw;
    }

    .banner-image-1 {
        position: relative;
        top: 0.6vh;
    }

    .jump {
        margin: 5vh 0vh;
        display: flex;
        justify-content: center;

    }

    .blogs {
        display: flex;
        flex-direction: column;
        margin-top: 0vh;
    }

    .teams {
        margin-top: 8vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* ------------------------------PAGE TWO-------------------------------- */
    .mid-container {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
    }

    .playing-teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .optional-button {
        visibility: visible;
    }

    .optional-button-text:hover {
        padding: 10px 17px;
    }

    .nevigetions nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* ================================== MEDIA QUERY FOR MOBILE ======================================= */
@media only screen and (min-width : 375px) and (max-width : 767px) {

    /* ---------------------------- PAGE ONE------------------------------ */
    .top-section {
        display: flex;
        flex-direction: column;
    }

    .top-title {
        font-size: 1em;
        width: 100%;
    }

    .top-paragraph {
        font-size: 0.6em;
        width: 150px;
        height: 30px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .blogs {
        display: flex;
        flex-direction: column;
    }

    .teams {
        margin-top: 6vh;
        margin-left: 1vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* ------------------------------- PAGE TWO -------------------------------- */
    .mid-container {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }

    .playing-teams {
        margin-top: 6vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .nevigetions nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}